<html>
 
	<head>
		<!-- Stylesheets -->
		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.css" />
		<link rel="stylesheet" href="public/stylesheets/style.css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

		<!-- Scripts -->
		<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
		<script src="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.js"></script>
		<script src="/javascripts/Controller.js" type="text/javascript"></script>
	</head>

	<body onload="initMap();">
		<div class="container">
			<div class="row">
				<div class="col-sm-4 headline">
					<p>#TOP5</p>
				</div>
			</div>
			<div class = "row">
				<button type="button" class="btn btn-primary">FirstHashtag</button>
				<button type="button" class="btn btn-primary">SecondHastag</button>
			</div>
			<div class = "row">
				<button type="button" class="btn btn-primary">ThirdHashtag</button>
				<button type="button" class="btn btn-primary">ForthHastag</button>
			</div>
			<div class = "row">
				<button type="button" class="btn btn-primary">FifthHashtag</button>
				<button type="button" class="btn btn-primary">Categories</button>
			</div>
			<div class="row">
				<div id="map" class="map"></div>
			</div>
		</div>
	</body>
</html>