<html>
 
	<head>
		<!-- Stylesheets -->
		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.css" />
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">


		<!-- Scripts -->
		<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
		<script src="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.js"></script>
		<script src="/javascripts/Controller.js" type="text/javascript"></script>

		


	</head>

	<body onload="initMap();" id="bodyId">
		<div class="container">
			
			<!-- Heading #TOP5 -->
			<div class="row">
				<div class="span12">
					<div id="header" onclick="determineTopFive()">#TOP5</div>
				</div>
			</div>

			
			<!-- Top 5 buttons -->
			<div class="row">
				<div class="col-md-2">
					<div style="text-align:center; margin-bottom: 10px;">
						<a href="#" class="butt1" id="1" onclick="filterOnHashtag()"> </a>
						<a href="#" class="butt1" id="2" onclick="filterOnHashtag()"> </a>
					</div>
				</div>

			</div>
			
			<div class="row">
				<div class="col-md-2">
					<div style="text-align:center; margin-bottom: 10px;">
						<a href="#" class="butt1" id="3" onclick="filterOnHashtag()"> </a>
						<a href="#" class="butt1" id="4" onclick="filterOnHashtag()"> </a>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-2">
					<div style="text-align:center;">
						<a href="#" class="butt1" id="5" onclick="filterOnHashtag()"> </a>
						<div class="btn-group" id="buttcat">
                 			<button type="button" class="butt1 dropdown-toggle" data-toggle="dropdown">
                   				<span data-bind="label">Categories</span>&nbsp;<span class="caret"></span>
                 			</button>
                 		<ul class="dropdown-menu" role="menu">
                   			<li onclick = "filterOnCategory()">Sports</li>
                   			<li onclick = "filterOnCategory()">Party</li>
                   			<li onclick = "filterOnCategory()">Food</li>
                   			<li onclick = "filterOnCategory()">Tourist</li>
                   			<li onclick = "filterOnCategory()">Entertainment</li>
                   			<li onclick = "filterOnCategory()">Nature</li>
                 		</ul>
              			</div>
					</div>
				</div>
			</div>
			
			<!-- Map -->
			<div class="row" id="maprow">
				<div id="map" onclick = "toggleFullScreen()" class="map"></div>
			</div>
			
			<!-- Location and District Buttons -->
			<div class="row">
				<div class="col-md-2">
					<div style="text-align:center;">
						<a href="#" class="butt2" id="locButt" onclick="getUserLocations()">Location</a>
						<div class="btn-group dropup">
                 			<button type="button" class="butt2 dropdown-toggle dropup" data-toggle="dropdown" id="catbutt">
                   				<span data-bind="label">Districts</span>&nbsp;<span class="caret"></span>
                 			</button>
                 		<ul class="dropdown-menu" role="menu">
                   			<li onclick="updateMap()" value="Gamla Stan">Gamla Stan</li>
                   			<li onclick="updateMap()" value="Norrmalm">Norrmalm</li>
                  			<li onclick="updateMap()" value="Sodermalm">Sodermalm</li>
                  			<li onclick="updateMap()" value="Kungsholmen">Kungsholmen</li>
                  			<li onclick="updateMap()" value="Ostermalm">Ostermalm</li>
                  			<li onclick="updateMap()" value="Vasastan">Vasastan</li>
                  			<li onclick="updateMap()" value="Djurgarden">Djurgarden</li>
                  			
                  			<!-- New York Districts
                  				<li><a href="#" onclick="filterOnDistrict(district)">The Bronx</a></li>
                  				<li><a href="#" onclick="filterOnDistrict(district)">Brooklyn</a></li>
                  				<li><a href="#" onclick="filterOnDistrict(district)">Manhattan</a></li>
                  				<li><a href="#" onclick="filterOnDistrict(district)">Queens</a></li>
                  				<li><a href="#" onclick="filterOnDistrict(district)">Staten Island</a></li>
                  				<li><a href="#" onclick="filterOnDistrict(district)">Jersey City???</a></li>
                  				 -->
                  			
                 		</ul>
              			</div>
					</div>
				</div>
			</div>
			
		</div>

	</body>
</html>