<html>
 
	<head>
		<!-- Stylesheets -->
		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.css" />
		<link rel="stylesheet" href="../public/stylesheets/style.css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

		<!-- Scripts -->
		<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
		<script src="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.js"></script>
		<script src="../public/javascripts/Controller.js" type="text/javascript"></script>
	</head>

	<body onload="initMap();" id="bodyId">
		<div class="container">
			
			<!-- Heading #TOP5 -->
			<div class="row">
				<div class="span12">
					<div id="header">#TOP5</div>
				</div>
			</div>
			
			<!-- Top 5 buttons -->
			<div class="row">
				<div class="col-md-2">
					<div style="text-align:center; margin-bottom: 10px;">
						<a href="#" class="butt1" id="hash1">#adwefawefaw</a>
						<a href="#" class="butt1" id="hash2">#we</a>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-2">
					<div style="text-align:center; margin-bottom: 10px;">
						<a href="#" class="butt1" id="hash3">#3</a>
						<a href="#" class="butt1" id="hash4">#4</a>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-2">
					<div style="text-align:center;">
						<a href="#" class="butt1" id="hash5">#5th</a>
						<div class="btn-group">
                 			<button type="button" class="butt1 dropdown-toggle" data-toggle="dropdown">
                   				<span data-bind="label">Categories</span>&nbsp;<span class="caret"></span>
                 			</button>
                 		<ul class="dropdown-menu" role="menu">
                   			<li><a href="#">Item 1</a></li>
                   			<li><a href="#">Item 2</a></li>
                  			<li><a href="#">Item 3</a></li>
                 		</ul>
              			</div>
					</div>
				</div>
			</div>
			
			<!-- Map -->
			<div class="row">
				<div id="map" class="map"></div>
			</div>
			
			<!-- Location and District Buttons -->
			<div class="row">
				<div class="col-md-2">
					<div style="text-align:center;">
						<a href="#" class="butt2" id="locButt">Location</a>
						<div class="btn-group">
                 			<button type="button" class="butt2 dropdown-toggle" data-toggle="dropdown">
                   				<span data-bind="label">Districts</span>&nbsp;<span class="caret"></span>
                 			</button>
                 		<ul class="dropdown-menu" role="menu">
                   			<li><a href="#">Item 1</a></li>
                   			<li><a href="#">Item 2</a></li>
                  			<li><a href="#">Item 3</a></li>
                 		</ul>
              			</div>
					</div>
				</div>
			</div>
			
		</div>
	</body>
</html>