.head .well{
	background-color: #b29d85;

.btn {
    background: red;
    color: red;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}

.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}

.map  {
	margin-top:200px;
	height:500px;
	margin-bottom:200px;
}

.headline {
	margin-top:50px;
	margin-left: auto;
	margin-right: auto;
	font-weight:bold;
	font-size: 50px;
	text-align: center;
}